<section class="shop">
    <div class="add" *ngIf="false">
        <app-button-move></app-button-move>
    </div>
    <span class="image">
        <span>BS</span>
        <img src="#" alt="Brandshop на Дмитровской 7" *ngIf="false">
    </span>
    <div class="main-info">
        <h4 class="title">
            Brandshop на Дмитровской 7
        </h4>
        <address>
            г. Москва, ул. Курская, д. 392б, стр. 3, офис 239
        </address>
    </div>
    <div class="remove" *ngIf="true">
        <app-button-remove></app-button-remove>
    </div>
</section>
