<section class="shop">
    <div class="add" *ngIf="!assigned">
        <app-button-move (moveButtonClicked)="onAddShop()"></app-button-move>
    </div>
    <span class="image">
        <span>BS</span>
        <img src="#" [alt]="shop.name" *ngIf="false">
    </span>
    <div class="main-info">
        <h4 class="title">
            {{ shop.name }}
        </h4>
        <address>
            {{ shop.address }}
        </address>
    </div>
    <div class="remove" *ngIf="assigned">
        <app-button-remove (removeButtonClicked)="onRemoveShop()"></app-button-remove>
    </div>
</section>
