<div class="manager">
    <h3>Специалист</h3>
    <section class="manager-info">
        <img
            width="32" height="32"
            [src]="'assets/users/' + manager.logo"
            [alt]="manager.fullName">
        <h4 class="name">{{ manager.fullName | shortenName }}</h4>
        <span class="shops-count">{{ manager.shops ? manager.shops.length : 0 }} магазинов</span>
        <div class="delete">
            <app-button-delete></app-button-delete>
        </div>
    </section>
    <h3>Магазины</h3>
    <p class="no-shops" *ngIf="!manager.shops">
        Не назначены
        <span class="alert-icon">
            <app-alert></app-alert>
        </span>
    </p>
    <ul class="shops" *ngIf="manager.shops && manager.shops.length > 0">
        <li *ngFor="let shop of manager.shops">
            <app-shop [shop]="shop" [assigned]="true"></app-shop>
        </li>
    </ul>
</div>
