.manager {
    display: flex;
    align-items: center;
    padding: 6px 0;
    font-size: 14px;
}

img {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 50%;
}

.name {
    margin: 0 16px 0 0;
    font-weight: 400;
    font-size: inherit;
}

.shops {
    color: #007aff;
}

.delete {
    margin-left: auto;
}
