<section class="managers">
    <h2 class="visually-hidden">Специалисты</h2>
    <nav>
        <ul class="tabs">
            <li class="active" *ngFor="let manager of activeManagers">
                <span class="badge" *ngIf="manager.shops">
                    {{ manager.shops.length }}
                </span>
                <button type="button" [attr.aria-label]="manager.fullName">
                    <img
                        width="40" height="40"
                        [src]="'assets/users/' + manager.logo"
                        [alt]="manager.fullName">
                </button>
            </li>
        </ul>
        <div class="add-button">
            <app-button-add
                (addButtonClicked)="onAddManager()"
                [label]="'Добавить специалиста'"
                [isLabelShowing]="activeManagers.length === 0"
            ></app-button-add>
        </div>
    </nav>
    <app-no-managers *ngIf="activeManagers.length === 0"></app-no-managers>
    <app-manager *ngIf="activeManagers.length > 0"></app-manager>
</section>
