.managers {
    display: flex;
    flex-direction: column;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

.tabs {
    display: flex;
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
}

.tabs li {
    position: relative;
    padding: 10px;
}

.tabs .active {
    background: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
}

.tabs .active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 1px;
    right: 1px;
    height: 5px;
    background-color: #ffffff;
}

.tabs .badge {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    background-color: #007aff;
    border-radius: 50%;
}

.tabs a {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 0;
    border-radius: 50%;
    overflow: hidden;
}

.tabs img {
    display: block;
    width: 40px;
    height: 40px;
}

.add-button {
    margin: 10px 0;
}
