<svg style="display: none;">
    <symbol id="i-user-plus" viewBox="0 0 60 48">
        <g clip-path="url(#clip0)"><circle cx="24" cy="24" r="18" stroke="#000" stroke-opacity=".1" stroke-width="2"/><circle cx="24" cy="20" r="6" stroke="#000" stroke-opacity=".1" stroke-width="2"/><path d="M12 36c1.747-4.66 6.46-8 12-8s10.253 3.34 12 8" stroke="#000" stroke-opacity=".1" stroke-width="2"/><rect x="28" y="-5" width="27" height="27" rx="13.5" fill="#F2F2F2"/><path d="M41.25 2.25v6h-6v1.5h6v6h1.5v-6h6v-1.5h-6v-6h-1.5z" fill="#000" fill-opacity=".1"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h60v48H0z"/></clipPath></defs>
    </symbol>
    <symbol id="i-plus" viewBox="0 0 12 12">
        <path d="M5.417.75v4.667H.75v1.166h4.667v4.667h1.166V6.583h4.667V5.417H6.583V.75H5.417z" fill="#000" fill-opacity=".32"/>
    </symbol>
    <symbol id="i-check-circle" viewBox="0 0 16 16">
        <path d="M7.5 1A6.51 6.51 0 001 7.5 6.51 6.51 0 007.5 14 6.51 6.51 0 0014 7.5 6.51 6.51 0 007.5 1zm0 1C10.543 2 13 4.457 13 7.5S10.543 13 7.5 13A5.493 5.493 0 012 7.5C2 4.457 4.457 2 7.5 2z" fill="#828282"/><path d="M5 7l2 2 3-3.5" stroke="#828282"/>
    </symbol>
</svg>

<main class="main">
    <div class="managers">
        <app-managers></app-managers>
    </div>
    <div class="shops">
        <button class="button button--check" type="button">Сохранить изменения</button>
    </div>
</main>
