.main {
    display: flex;
    justify-content: space-between;
    min-width: 1031px;
    max-width: 1031px;
    margin: 0 auto;
    padding: 35px 20px;
}

.managers {
    flex-shrink: 0;
    width: 48.5%;
}

.shops {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 48.5%;
}

.save {
    margin-bottom: 13px;
    text-align: right;
}

.shop-list {
    margin-top: auto;
}
