<section
    class="shops"
    [ngClass]="isActive ? '' : 'inactive'"
>
    <h2 class="visually-hidden">Список нераспределенных магазинов</h2>
    <div class="board board--empty" *ngIf="unassignedShops.length === 0">
        <p>Нераспределенных магазинов нет</p>
    </div>
    <div class="board" *ngIf="unassignedShops.length > 0">
        <p>
            Нераспределенные магазины: {{ unassignedShops.length }}
            <span class="alert-icon">
                <app-alert></app-alert>
            </span>
        </p>
        <ul class="shop-list">
            <li *ngFor="let shop of unassignedShops">
                <app-shop [shop]="shop"></app-shop>
            </li>
        </ul>
    </div>
</section>
